@charset "UTF-8";
/*-------------------- Variable --------------------*/
/*-------------------- Keyframes --------------------*/
@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}
@keyframes button {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    transform: scale(0.94) rotateZ(1deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}
@keyframes enCours {
  from {
    transform: translate(-10px);
    opacity: 1;
  }
  to {
    transform: translate(0);
    opacity: 0;
  }
}
/*-------------------- Corps de la Page  |  Les balises Géneriques --------------------*/
/***** Le body *****/
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/***** loader *****/
.loader {
  z-index: 100;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader .lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s ease-out infinite;
}
.loader .lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader .lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader .lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader .lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader .lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-out;
}

/***** Scroll To Top *****/
.scrollToTop {
  opacity: 0;
  z-index: 11;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 30px;
  height: 2px;
  cursor: pointer;
  transition: 0.8s;
}
.scrollToTop span.fa-chevron-up {
  color: black;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.571);
}

/***** Toute les balises Types *****/
h2 {
  padding-top: 30px;
  font-size: xxx-large;
}

img {
  object-fit: cover;
}

span {
  color: #82594e;
}

.button {
  z-index: 10;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.button a {
  border-radius: 10px;
  background: #a5a5a5;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.button a:hover {
  animation: button 1.8s 0s infinite linear;
}

/*-------------------- Corps de la Page  |  Acceuil --------------------*/
/***** Header *****/
header {
  width: 100%;
  height: 100vh;
  background: #000;
}
header .container {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #000, #000, #153d46);
}
header .container div {
  width: 100vw;
  background: #000;
  position: relative;
  z-index: 10;
}
header .container div img {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
}
header .nav-barre {
  z-index: 20;
  position: relative;
  padding: 30px auto;
  padding-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10vh;
}
header .nav-barre ul {
  display: flex;
  position: relative;
}
header .nav-barre ul li {
  margin: 0 30px;
  list-style-type: none;
  transition: all 0.3s;
  font-size: x-large;
}
header .nav-barre ul li .ss-menu {
  position: absolute;
  width: 300%;
  top: 20px;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
header .nav-barre ul li .ss-menu li {
  z-index: 0;
  margin-top: 20px;
  margin-left: 10px;
}
header .nav-barre ul li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: all 0.3s;
}
header .nav-barre ul li a:hover {
  color: #727272;
}
header .nav-barre ul li:hover .ss-menu {
  display: block;
  opacity: 1;
  pointer-events: all;
}
header .nav-barre .menu-nav {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
}
header .nav-barre .menu-nav .barre-menu {
  transition: 0.3s, transform 0.2s ease, opacity 0.2s ease, top 0.2s ease 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background: #f1f1f1;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(1) {
  top: 0;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(2) {
  top: 10px;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(3) {
  top: 20px;
}
@media screen and (max-width: 1024px) {
  header .nav-barre {
    padding-right: 80px;
  }
  header .nav-barre ul li {
    font-size: larger;
  }
}
@media screen and (max-width: 768px) {
  header .nav-barre {
    padding-right: 8%;
  }
  header .nav-barre ul {
    display: none;
  }
  header .nav-barre .menu-nav {
    display: block;
  }
  header .nav-barre .menu-nav:hover .barre-menu {
    background: #a5a5a5;
  }
  header .nav-barre .menu-nav:active .barre-menu:nth-of-type(1) {
    top: 10px;
    transform: rotate(-45deg);
    transition: top 0.2s ease, transform 0.2s ease 0.2s;
  }
  header .nav-barre .menu-nav:active .barre-menu:nth-of-type(2) {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  header .nav-barre .menu-nav:active .barre-menu:nth-of-type(3) {
    top: 10px;
    transform: rotate(45deg);
    transition: top 0.2s ease, transform 0.2s ease 0.2s;
  }
}

/***** Article  -  À Propos *****/
article {
  z-index: 10;
  position: relative;
  top: -5vh;
  background: linear-gradient(to bottom, #153d46, #000, #000);
  height: 115vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -20vh;
}
article::before {
  z-index: 10;
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #000, #000, #000, #000, transparent);
  bottom: -9vh;
  height: 250px;
  width: 100%;
  transform: scale(1.5);
  border-radius: 50%;
}
article .info {
  display: flex;
  justify-content: center;
  position: relative;
}
article .info .titre {
  position: relative;
  top: -20vh;
  width: 50%;
  height: 200px;
  text-align: center;
  font-family: sans-serif;
  color: #727272;
  border-bottom: 1px dashed white;
}
article .info .titre h1 {
  font-size: 50px;
  letter-spacing: 20px;
  margin-bottom: 30px;
}
article .info .titre h1 span {
  color: #82594e;
}
article .info .titre h3 {
  font-size: 15px;
  letter-spacing: 20px;
  line-height: 30px;
  color: #f1f1f1;
}
article .info .description {
  z-index: 10;
  position: relative;
  top: -19vh;
  width: 45%;
}
article .info .description p {
  width: 80%;
  margin-left: 40px;
  letter-spacing: 5px;
  line-height: 30px;
  color: #a5a5a5;
}
article .info .description p span {
  color: #f1f1f1;
}
@media screen and (max-width: 1024px) {
  article {
    flex-direction: column;
    margin-bottom: 20vh;
  }
  article .titre {
    margin: 2vh auto;
    border-right: none;
    height: 250px;
  }
  article .titre h1 {
    margin-bottom: 2vh;
  }
  article .titre h3 {
    width: 100%;
  }
  article .description {
    margin-left: 20px;
    height: 150px;
    width: 90%;
    border-left: 1px dashed white;
  }
}

/***** Section  -  Actualités et Projets *****/
section.actu {
  color: #a5a5a5;
  position: relative;
  background: #000;
  height: 100%;
}
section.actu .contenu-projet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
section.actu .contenu-projet .img-fixed .bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.actu .contenu-projet .titres {
  z-index: 10;
  position: relative;
}
section.actu .contenu-projet .titres .titre-projet {
  position: relative;
  width: 100%;
  top: -58vh;
  text-align: center;
}
section.actu .contenu-projet .titres .titre-competence, section.actu .contenu-projet .titres .titre-all-projet {
  position: relative;
  text-align: center;
}
section.actu .contenu-projet .titres .barre {
  z-index: 10;
  width: 70px;
  background: #f1f1f1;
  height: 2px;
  position: relative;
  margin: auto;
}
section.actu .contenu-projet .titres .barre1 {
  margin-top: -53vh;
}
section.actu .contenu-projet .titres .barre2 {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
section.actu .contenu-projet .projet {
  z-index: 10;
  margin: 0 auto;
  position: relative;
  top: -30vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.actu .contenu-projet .projet .pjt {
  z-index: 10;
  position: relative;
  width: 28%;
  height: 15vw;
  background: rgba(99, 99, 99, 0.571);
  overflow: hidden;
}
section.actu .contenu-projet .projet .pjt:nth-of-type(2) {
  top: -3vh;
  width: 34%;
  height: 18vw;
}
section.actu .contenu-projet .projet .pjt .icones-plus {
  z-index: 10;
  opacity: 0;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.5s;
  transform: translate(-50%, -50%);
}
section.actu .contenu-projet .projet .pjt .img-pjt {
  transition: all 0.7s ease;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.actu .contenu-projet .projet .pjt .img-pjt.img-pjt1 {
  background: url(../images/6.png) no-repeat center/cover;
}
section.actu .contenu-projet .projet .pjt .img-pjt.img-pjt2 {
  height: 120%;
  width: 126%;
  left: -13%;
  background: url(../images/1.png) no-repeat center/cover;
}
section.actu .contenu-projet .projet .pjt .img-pjt.img-pjt3 {
  background: url(../images/5.jpg) no-repeat center/cover;
}
section.actu .contenu-projet .projet .pjt:hover {
  cursor: pointer;
  background: none;
}
section.actu .contenu-projet .projet .pjt:hover .icones-plus {
  opacity: 1;
}
section.actu .contenu-projet .projet .pjt:hover .img-pjt {
  transform: scale(1.3);
}
section.actu .contenu-projet .button {
  position: relative;
  top: -25vh;
}
section.actu .contenu-projet .competences {
  margin: auto;
  position: relative;
  width: 80%;
  height: 30vh;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
section.actu .contenu-projet .competences a {
  margin-left: 10px;
  margin-right: 10px;
  width: 270px;
  height: 100%;
  color: #a5a5a5;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.89);
  border-radius: 30%;
  box-shadow: 10px 10px 20px 15px rgba(0, 0, 0, 0.74);
}
section.actu .contenu-projet .competences a .comp {
  text-align: center;
  width: 100%;
}
section.actu .contenu-projet .competences a .comp i {
  margin-top: 20px;
  transition: all 0.3s ease-out;
  font-size: 60px;
  width: 100%;
  margin-bottom: 20px;
}
section.actu .contenu-projet .competences a .comp h3 {
  font-size: xx-large;
  margin-bottom: 10px;
}
section.actu .contenu-projet .competences a .comp h3 span {
  transition: all 0.3s ease-out;
}
section.actu .contenu-projet .competences a .comp p span {
  color: #a5a5a5;
  transition: all 0.3s linear;
}
section.actu .contenu-projet .competences a .comp p span:nth-of-type(1) {
  animation: enCours 1.5s 1s linear infinite;
}
section.actu .contenu-projet .competences a .comp p span:nth-of-type(2) {
  animation: enCours 1.5s 1.5s linear infinite;
}
section.actu .contenu-projet .competences a .comp p span:nth-of-type(3) {
  animation: enCours 1.5s 2s linear infinite;
}
section.actu .contenu-projet .competences a:hover .comp i {
  transform: scale(1.2);
  color: #f1f1f1;
}
section.actu .contenu-projet .all-projets {
  padding-bottom: 5vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
section.actu .contenu-projet .all-projets .colonne {
  width: 40%;
  height: 100%;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt1 {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.5);
  height: 75vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt2 {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.5);
  height: 30vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.5);
  height: 70vh;
}
section.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(4) {
  background: rgba(255, 255, 255, 0.5);
  height: 45vh;
}
@media screen and (max-width: 768px) {
  section.actu .contenu-projet .projet {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  section.actu .contenu-projet .projet .pjt {
    width: 70%;
    height: 60vh;
  }
  section.actu .contenu-projet .projet .pjt:nth-of-type(2) {
    top: 0;
    width: 70%;
    height: 60vh;
  }
}
section.actu .photo-de-moi {
  position: relative;
  width: 100%;
  height: 130vh;
  font-size: 30px;
  font-family: "Great Vibes", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #153d46, #153d46);
}
section.actu .photo-de-moi .photo {
  width: 70%;
  height: 100vh;
  position: relative;
  margin-bottom: 5vh;
}
section.actu .photo-de-moi a {
  margin-top: 30px;
  border-radius: 10px;
  background: #a5a5a5;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
section.actu .photo-de-moi a:hover {
  animation: button 1.8s 0s infinite linear;
}

/***** Footer *****/
footer {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#153d46, black);
}
footer .titre-reseaux {
  margin: auto;
  width: 280px;
}
footer .titre-reseaux h2 {
  margin-bottom: 30px;
  width: 190%;
  color: #f1f1f1;
}
footer .titre-reseaux .border-bottom {
  width: 120px;
  height: 2px;
  background: #f1f1f1;
  margin: auto;
}
footer nav {
  margin-top: 30vh;
  margin-bottom: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer nav .reseaux {
  display: flex;
  width: 70%;
  justify-content: space-between;
  list-style-type: none;
}
footer nav .reseaux li a {
  color: #82594e;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav .reseaux li a i {
  padding: 20px;
  font-size: 30px;
  border-radius: 50%;
  transition: all 0.4s;
}
footer nav .reseaux li a p {
  color: #82594e;
  transition: all 0.4s;
}
footer nav .reseaux li a:hover i,
footer nav .reseaux li a:hover p {
  color: #f1f1f1;
}
footer .copyright {
  margin-top: 15vh;
  text-align: center;
  z-index: 10;
  position: relative;
  color: #a5a5a5;
}

/*-------------------- Corps de la Page  |  Contact --------------------*/
/***** Section Page Contact *****/
header.header-contact {
  z-index: 11;
  position: relative;
  height: 10vh;
  width: 100%;
  background: #1a1d1a;
}
header.header-contact img {
  position: fixed;
  height: 120vh;
  top: 0;
  left: 0;
}

/***** Section Page Contact *****/
section.section-contact {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 120vh;
  color: #f1f1f1;
  background: #153d46;
}
section.section-contact h1 {
  width: 100%;
  font-family: sans-serif;
  font-size: xxx-large;
  letter-spacing: 10px;
  height: 20px;
  margin-left: 15vw;
  padding-top: 25vh;
  margin-bottom: 120px;
  color: #a5a5a5;
}
section.section-contact .contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.section-contact .contact .part1,
section.section-contact .contact .part2 {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  padding: 50px;
  margin: 20px;
  width: 36vw;
  height: 90vh;
  border: 6px solid #a5a5a5;
}
section.section-contact .contact .part1 h2,
section.section-contact .contact .part2 h2 {
  padding-top: 0;
  width: 100%;
  height: 70px;
  font-size: xx-large;
}
section.section-contact .contact .part1 p {
  margin-bottom: 50px;
  line-height: 25px;
}
section.section-contact .contact .part1 .adresse-mail h3 {
  margin-bottom: 15px;
}
section.section-contact .contact .part1 .adresse-mail p {
  padding-left: 20px;
  font-size: 20px;
  color: #82594e;
  cursor: pointer;
}
section.section-contact .contact .part2 form {
  width: 100%;
  height: 100%;
}
section.section-contact .contact .part2 form .formulaire {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
section.section-contact .contact .part2 form .formulaire div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section.section-contact .contact .part2 form .formulaire div label {
  margin-bottom: 10px;
}
section.section-contact .contact .part2 form .formulaire div input,
section.section-contact .contact .part2 form .formulaire div textarea {
  background: #a5a5a5;
  border: none;
  height: 100%;
  padding: 10px;
}
section.section-contact .contact .part2 form button {
  width: 100%;
  padding: 12px 25px;
  background: #82594e;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  section.section-contact .contact {
    width: 100%;
    align-items: center;
  }
  section.section-contact .contact .part1,
section.section-contact .contact .part2 {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  section.section-contact {
    height: 220vh;
  }
}

/***** Footer Page Contact *****/
/*-------------------- Corps de la Page  |  À Propos --------------------*/
/***** Section Page Info *****/
section.section-info {
  height: 100%;
  background: #153d46;
  color: #a5a5a5;
}
section.section-info h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-bottom: 0;
}
section.section-info h2 {
  font-size: x-large;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
