@charset "UTF-8";
/*-------------------- Variable --------------------*/
/*-------------------- Keyframes --------------------*/
@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}
@keyframes button {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    transform: scale(0.94) rotateZ(1deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}
/*-------------------- Corps de la Page  |  Les balises Géneriques --------------------*/
/***** loader *****/
.loader {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader .lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s ease-out infinite;
}
.loader .lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader .lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader .lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader .lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader .lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  display: none;
  transition: display 0.4s ease-out;
}

/***** Scroll To Top *****/
.scrollToTop {
  opacity: 0;
  z-index: 11;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 30px;
  height: 2px;
  cursor: pointer;
  transition: 0.8s;
}
.scrollToTop span.fa-chevron-up {
  color: black;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.571);
}

/***** Le body *****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/***** Toute les balises Types *****/
h2 {
  padding-top: 30px;
  font-size: xxx-large;
}

img {
  object-fit: cover;
}

span {
  color: #82594e;
}

/*-------------------- Corps de la Page  |  Acceuil --------------------*/
/***** Header *****/
header {
  width: 100%;
  height: 100vh;
  background: #000;
}
header .container {
  position: absolute;
  width: 100%;
  height: 120vh;
  background: linear-gradient(#314831, black);
}
header .container div {
  position: relative;
  z-index: 10;
}
header .container div img {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
}
header .nav-barre {
  z-index: 100;
  padding: 30px auto;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: relative;
}
header .nav-barre ul {
  display: flex;
}
header .nav-barre ul li {
  margin: 0 30px;
  list-style-type: none;
  transition: all 0.3s;
  font-size: x-large;
}
header .nav-barre ul li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: all 0.3s;
}
header .nav-barre ul li a:hover {
  color: #727272;
}
header .nav-barre .menu-nav {
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
}
header .nav-barre .menu-nav .barre-menu {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #f1f1f1;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(1) {
  top: 0;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(2) {
  top: 10px;
}
header .nav-barre .menu-nav .barre-menu:nth-of-type(3) {
  top: 20px;
}
@media screen and (max-width: 1024px) {
  header .nav-barre {
    padding-right: 80px;
  }
  header .nav-barre ul li {
    font-size: larger;
  }
}
@media screen and (max-width: 768px) {
  header .nav-barre {
    padding-right: 8%;
  }
  header .nav-barre ul {
    display: none;
  }
  header .nav-barre .menu-nav {
    display: block;
  }
}

/***** Article  -  À Propos *****/
article {
  z-index: 10;
  position: relative;
  top: -5vh;
  background: #000;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -20vh;
}
article::before {
  z-index: 10;
  content: "";
  position: absolute;
  background: #000;
  bottom: -9vh;
  height: 250px;
  width: 100%;
  transform: scale(1.5);
  border-radius: 50%;
}
article .titre {
  position: relative;
  top: -6vh;
  width: 45%;
  height: 200px;
  text-align: center;
  font-family: sans-serif;
  color: #727272;
  border-right: 1px dashed white;
}
article .titre h1 {
  font-size: 50px;
  letter-spacing: 20px;
  margin-bottom: 30px;
}
article .titre h1 span {
  color: #82594e;
}
article .titre h3 {
  font-size: 15px;
  letter-spacing: 20px;
  line-height: 30px;
  color: #f1f1f1;
}
article .description {
  z-index: 10;
  position: relative;
  top: -5vh;
  width: 45%;
}
article .description p {
  width: 80%;
  margin-left: 40px;
  letter-spacing: 5px;
  line-height: 30px;
  color: #a5a5a5;
}
article .description p span {
  color: #f1f1f1;
}
@media screen and (max-width: 1024px) {
  article {
    flex-direction: column;
    margin-bottom: 20vh;
  }
  article .titre {
    margin: 2vh auto;
    border-right: none;
    height: 250px;
  }
  article .titre h1 {
    margin-bottom: 2vh;
  }
  article .titre h3 {
    width: 100%;
  }
  article .description {
    margin-left: 20px;
    height: 150px;
    width: 90%;
    border-left: 1px dashed white;
  }
}

/***** Section  -  Actualités et Projets *****/
.actu {
  color: #a5a5a5;
  position: relative;
  background: #000;
}
.actu .contenu-projet {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.actu .contenu-projet .img-fixed .bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.actu .contenu-projet .titres {
  z-index: 10;
  position: relative;
}
.actu .contenu-projet .titres .titre-projet {
  position: relative;
  width: 100%;
  top: -40vh;
  text-align: center;
}
.actu .contenu-projet .titres .titre-all-projet {
  position: relative;
  text-align: center;
}
.actu .contenu-projet .titres .barre {
  z-index: 10;
  width: 70px;
  background: #f1f1f1;
  height: 2px;
  position: relative;
  margin: auto;
}
.actu .contenu-projet .titres .barre1 {
  margin-top: -35vh;
}
.actu .contenu-projet .titres .barre2 {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
.actu .contenu-projet .projet {
  height: 100%;
  z-index: 10;
  margin: 0 5% 0;
  position: relative;
  top: -20vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actu .contenu-projet .projet .pjt {
  position: relative;
  background: rgba(255, 255, 255, 0.571);
  width: 30%;
  height: 15vw;
  transition: all 0.5s;
  margin-bottom: 5%;
}
.actu .contenu-projet .projet .pjt .icones-plus {
  display: none;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.actu .contenu-projet .projet .pjt:hover {
  cursor: pointer;
  background: none;
}
.actu .contenu-projet .projet .pjt:hover .icones-plus {
  display: block;
}
.actu .contenu-projet .all-projets {
  padding-bottom: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.actu .contenu-projet .all-projets .colonne {
  width: 40%;
  height: 100%;
}
.actu .contenu-projet .all-projets .colonne .all-pjt1 {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.5);
  height: 75vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt1:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt2 {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.5);
  height: 30vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.5);
  height: 70vh;
}
.actu .contenu-projet .all-projets .colonne .all-pjt2:nth-of-type(4) {
  background: rgba(255, 255, 255, 0.5);
  height: 45vh;
}
@media screen and (max-width: 768px) {
  .actu .contenu-projet .projet {
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
  }
  .actu .contenu-projet .projet .pjt {
    width: 90%;
    height: 30vh;
  }
}
.actu .photo-de-moi {
  position: relative;
  width: 100%;
  height: 120vh;
  font-size: 30px;
  font-family: "Great Vibes", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #1a1d1a, #1a1d1a);
}
.actu .photo-de-moi .photo {
  width: 70%;
  height: 100vh;
  position: relative;
  margin-bottom: 5vh;
}
.actu .photo-de-moi a {
  margin-top: 30px;
  border-radius: 10px;
  background: #a5a5a5;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.actu .photo-de-moi a:hover {
  animation: button 1.8s 0s infinite linear;
}

/***** Footer *****/
footer {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 73vh;
  background: linear-gradient(#1a1d1a, black);
}
footer .titre-reseaux {
  margin: auto;
  width: 280px;
}
footer .titre-reseaux h2 {
  margin-bottom: 30px;
  width: 190%;
  color: #f1f1f1;
}
footer .titre-reseaux .border-bottom {
  width: 120px;
  height: 2px;
  background: #f1f1f1;
  margin: auto;
}
footer nav {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer nav .reseaux {
  display: flex;
  width: 70%;
  justify-content: space-between;
  list-style-type: none;
}
footer nav .reseaux li a {
  color: #82594e;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav .reseaux li a i {
  padding: 20px;
  font-size: 30px;
  border-radius: 50%;
  transition: all 0.4s;
}
footer nav .reseaux li a p {
  color: #82594e;
  transition: all 0.4s;
}
footer nav .reseaux li a:hover i,
footer nav .reseaux li a:hover p {
  color: #f1f1f1;
}
footer .copyright {
  margin-top: 14vh;
  text-align: center;
  z-index: 20;
  position: relative;
  color: #a5a5a5;
}

/*-------------------- Corps de la Page  |  Contact --------------------*/
/***** Header Page Contact *****/
header.header-contact {
  position: relative;
  height: 10vh;
  width: 100%;
  background: #1a1d1a;
}
header.header-contact img {
  position: fixed;
  height: 120vh;
  top: 0;
  left: 0;
}

/***** Section Page Contact *****/
section.section-contact {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 110vh;
  color: #f1f1f1;
  background: #1a1d1a;
}
section.section-contact h1 {
  width: 100%;
  font-family: sans-serif;
  font-size: xxx-large;
  letter-spacing: 10px;
  height: 20px;
  margin-left: 15vw;
  padding-top: 25vh;
  margin-bottom: 120px;
  color: #a5a5a5;
}
section.section-contact .contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.section-contact .contact .part1,
section.section-contact .contact .part2 {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  padding: 50px;
  margin: 20px;
  width: 36vw;
  height: 75vh;
  border: 6px solid #a5a5a5;
}
section.section-contact .contact .part1 h2,
section.section-contact .contact .part2 h2 {
  padding-top: 0;
  width: 100%;
  height: 70px;
  font-size: xx-large;
}
section.section-contact .contact .part1 p {
  margin-bottom: 50px;
  line-height: 25px;
}
section.section-contact .contact .part1 .adresse-mail h3 {
  margin-bottom: 15px;
}
section.section-contact .contact .part1 .adresse-mail p {
  padding-left: 20px;
  font-size: 20px;
  color: #82594e;
  cursor: pointer;
}
section.section-contact .contact .part2 form {
  width: 100%;
  height: 100%;
}
section.section-contact .contact .part2 form .formulaire {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
section.section-contact .contact .part2 form .formulaire div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
section.section-contact .contact .part2 form .formulaire div label {
  margin-bottom: 10px;
}
section.section-contact .contact .part2 form .formulaire div input, section.section-contact .contact .part2 form .formulaire div textarea {
  background: #a5a5a5;
  border: none;
  height: 100%;
  padding: 10px;
}
section.section-contact .contact .part2 form button {
  width: 100%;
  padding: 12px 25px;
  background: #82594e;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  section.section-contact .contact {
    width: 100%;
    align-items: center;
  }
  section.section-contact .contact .part1, section.section-contact .contact .part2 {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  section.section-contact {
    height: 190vh;
  }
}

/*-------------------- Corps de la Page  |  À Propos --------------------*/

/*# sourceMappingURL=style.css.map */
