/*-------------------- Variable --------------------*/

$colorText1: #f1f1f1;
$colorText2: #121212;
$colorBg1: #000;
$colorBg2: url(../images/BG.jpg);
$colorHover: #82594e;
$colorDegrader: rgb(26, 29, 26);

$fontPrincipal: sans-serif;

/*-------------------- Keyframes --------------------*/

@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

@keyframes button {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    transform: scale(0.94) rotateZ(1deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

/*-------------------- Corps de la Page  |  Les balises Géneriques --------------------*/

/***** loader *****/

.loader {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s ease-out infinite;
  }
  .lettre:nth-child(1) {
    animation-delay: 0.1s;
  }
  .lettre:nth-child(2) {
    animation-delay: 0.2s;
  }
  .lettre:nth-child(3) {
    animation-delay: 0.3s;
  }
  .lettre:nth-child(4) {
    animation-delay: 0.4s;
  }
  .lettre:nth-child(5) {
    animation-delay: 0.5s;
  }
  .lettre:nth-child(6) {
    animation-delay: 0.6s;
  }
  .lettre:nth-child(7) {
    animation-delay: 0.7s;
  }
  .lettre:nth-child(8) {
    animation-delay: 0.8s;
  }
  .lettre:nth-child(9) {
    animation-delay: 0.9s;
  }
  .lettre:nth-child(10) {
    animation-delay: 1s;
  }
}

.fondu-out {
  display: none;
  transition: display 0.4s ease-out;
}

/***** Scroll To Top *****/

.scrollToTop {
  opacity: 0;
  z-index: 11;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 30px;
  height: 2px;
  cursor: pointer;
  transition: 0.8s;
  span.fa-chevron-up {
    color: black;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.571);
  }
}

/***** Le body *****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/***** Toute les balises Types *****/
h2 {
  padding-top: 30px;
  font-size: xxx-large;
}

img {
  object-fit: cover;
}

span {
  color: $colorHover;
}

/*-------------------- Corps de la Page  |  Acceuil --------------------*/

/***** Header *****/

header {
  width: 100%;
  height: 100vh;
  background: $colorBg1;
  .container {
    position: absolute;
    width: 100%;
    height: 120vh;
    background: linear-gradient(rgb(49, 72, 49), black);
    div {
      position: relative;
      z-index: 10;
      img {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100vh;
      }
    }
  }

  .nav-barre {
    z-index: 100;
    padding: 30px auto;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: relative;
    ul {
      display: flex;
      position: relative;
      li {
        margin: 0 30px;
        list-style-type: none;
        transition: all 0.3s;
        font-size: x-large;
        a {
          color: $colorText1;
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: darken($color: $colorText1, $amount: 50);
          }
        }
      }
    }
    .menu-nav {
      display: none;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 20px;
      .barre-menu {
        transition: all 0.3s;
        position: absolute;
        width: 30px;
        height: 2px;
        background: $colorText1;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 10px;
        }
        &:nth-of-type(3) {
          top: 20px;
        }
      }
    }
    @media screen and(max-width:1024px) {
      padding-right: 80px;
      ul {
        li {
          font-size: larger;
        }
      }
    }
    @media screen and(max-width:768px) {
      padding-right: 8%;
      ul {
        display: none;
      }
      .menu-nav {
        display: block;
        &:hover {
          .barre-menu {
            background: darken($color: $colorText1, $amount: 30);
          }
        }
        &:active {
          .barre-menu {
            &:nth-of-type(1) {
              top: 10px;
              transform: rotate(-45deg);
              transition: top 0.2s ease, transform 0.2s ease 0.2s;
            }
            &:nth-of-type(2) {
              opacity: 0;
              transition: opacity 0.2s ease;
            }
            &:nth-of-type(3) {
              top: 10px;
              transform: rotate(45deg);
              transition: top 0.2s ease, transform 0.2s ease 0.2s;
            }
          }
        }
      }
    }
  }
}

/***** Article  -  À Propos *****/

article {
  z-index: 10;
  position: relative;
  top: -5vh;
  background: $colorBg1;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -20vh;
  &::before {
    z-index: 10;
    content: "";
    position: absolute;
    background: #000;
    bottom: -9vh;
    height: 250px;
    width: 100%;
    transform: scale(1.5);
    border-radius: 50%;
  }
  .titre {
    position: relative;
    top: -6vh;
    width: 45%;
    height: 200px;
    text-align: center;
    font-family: $fontPrincipal;
    color: darken($color: $colorText1, $amount: 50);
    border-right: 1px dashed white;
    h1 {
      font-size: 50px;
      letter-spacing: 20px;
      margin-bottom: 30px;
      span {
        color: $colorHover;
      }
    }
    h3 {
      font-size: 15px;
      letter-spacing: 20px;
      line-height: 30px;
      color: $colorText1;
    }
  }
  .description {
    z-index: 10;
    position: relative;
    top: -5vh;
    width: 45%;
    p {
      width: 80%;
      margin-left: 40px;
      letter-spacing: 5px;
      line-height: 30px;
      color: darken($color: $colorText1, $amount: 30);
      span {
        color: $colorText1;
      }
    }
  }

  @media screen and(max-width:1024px) {
    flex-direction: column;
    margin-bottom: 20vh;
    .titre {
      margin: 2vh auto;
      border-right: none;
      height: 250px;
      h1 {
        margin-bottom: 2vh;
      }
      h3 {
        width: 100%;
      }
    }
    .description {
      margin-left: 20px;
      height: 150px;
      width: 90%;
      border-left: 1px dashed white;
    }
  }
}

/***** Section  -  Actualités et Projets *****/

.actu {
  color: darken($color: $colorText1, $amount: 30);
  position: relative;
  background: $colorBg1;
  .contenu-projet {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    // Background Fixed
    .img-fixed {
      .bg-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // Les gros Titres
    .titres {
      z-index: 10;
      position: relative;
      .titre-projet {
        position: relative;
        width: 100%;
        top: -40vh;
        text-align: center;
      }

      .titre-all-projet {
        position: relative;
        text-align: center;
      }

      .barre {
        z-index: 10;
        width: 70px;
        background: $colorText1;
        height: 2px;
        position: relative;
        margin: auto;
      }
      .barre1 {
        margin-top: -35vh;
      }

      .barre2 {
        margin-top: 5vh;
        margin-bottom: 10vh;
      }
    }

    // Actualités  -  Mes 3 Dernier Projets
    .projet {
      height: 100%;
      z-index: 10;
      margin: 0 5% 0;
      position: relative;
      top: -20vh;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .pjt {
        position: relative;
        background: rgba(255, 255, 255, 0.571);
        width: 30%;
        height: 15vw;
        transition: all 0.5s;
        margin-bottom: 5%;
        .icones-plus {
          display: none;
          filter: invert(1);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          cursor: pointer;
          background: none;
          .icones-plus {
            display: block;
          }
        }
      }
    }

    // Projets
    .all-projets {
      padding-bottom: 10vh;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
      .colonne {
        width: 40%;
        height: 100%;
        .all-pjt1 {
          width: 100%;
          margin-bottom: 20px;
          cursor: pointer;
          &:nth-of-type(1) {
            background: rgba(255, 255, 255, 0.5);
            height: 75vh;
          }
          &:nth-of-type(2) {
            background: rgba(255, 255, 255, 0.5);
            height: 50vh;
          }
          &:nth-of-type(3) {
            background: rgba(255, 255, 255, 0.5);
            height: 50vh;
          }
        }
        .all-pjt2 {
          width: 100%;
          margin-bottom: 20px;
          cursor: pointer;
          &:nth-of-type(1) {
            background: rgba(255, 255, 255, 0.5);
            height: 30vh;
          }
          &:nth-of-type(2) {
            background: rgba(255, 255, 255, 0.5);
            height: 50vh;
          }
          &:nth-of-type(3) {
            background: rgba(255, 255, 255, 0.5);
            height: 70vh;
          }
          &:nth-of-type(4) {
            background: rgba(255, 255, 255, 0.5);
            height: 45vh;
          }
        }
      }
    }

    @media screen and(max-width:768px) {
      .projet {
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        .pjt {
          width: 90%;
          height: 30vh;
        }
      }
    }
  }
  .photo-de-moi {
    position: relative;
    width: 100%;
    height: 120vh;
    font-size: 30px;
    font-family: "Great Vibes", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      transparent,
      $colorDegrader,
      $colorDegrader
    );
    .photo {
      width: 70%;
      height: 100vh;
      position: relative;
      margin-bottom: 5vh;
    }
    a {
      margin-top: 30px;
      border-radius: 10px;
      background: darken($color: $colorText1, $amount: 30);
      padding: 10px 30px;
      color: black;
      text-decoration: none;
      font-family: "Times New Roman", Times, serif;
      &:hover {
        animation: button 1.8s 0s infinite linear;
      }
    }
  }
}

/***** Footer *****/

footer {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  background: linear-gradient($colorDegrader, black);
  .titre-reseaux {
    margin: auto;
    width: 280px;
    h2 {
      margin-bottom: 30px;
      width: 190%;
      color: $colorText1;
    }
    .border-bottom {
      width: 120px;
      height: 2px;
      background: $colorText1;
      margin: auto;
    }
  }
  nav {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .reseaux {
      display: flex;
      width: 70%;
      justify-content: space-between;
      list-style-type: none;
      li {
        a {
          color: $colorHover;
          text-decoration: none;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i {
            padding: 20px;
            font-size: 30px;
            border-radius: 50%;
            transition: all 0.4s;
          }
          p {
            color: $colorHover;
            transition: all 0.4s;
          }
          &:hover {
            i,
            p {
              color: $colorText1;
            }
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 14vh;
    text-align: center;
    z-index: 10;
    position: relative;
    color: darken($color: $colorText1, $amount: 30);
  }
}

/*-------------------- Corps de la Page  |  Contact --------------------*/

/***** Section Page Contact *****/

header.header-contact {
  position: relative;
  height: 10vh;
  width: 100%;
  background: rgb(26, 29, 26);
  img {
    position: fixed;
    height: 120vh;
    top: 0;
    left: 0;
  }
}

/***** Section Page Contact *****/

section.section-contact {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 120vh;
  color: $colorText1;
  background: $colorDegrader;
  h1 {
    width: 100%;
    font-family: sans-serif;
    font-size: xxx-large;
    letter-spacing: 10px;
    height: 20px;
    margin-left: 15vw;
    padding-top: 25vh;
    margin-bottom: 120px;
    color: darken($color: $colorText1, $amount: 30);
    @media screen and(min-width:1024px) {
      // margin-left: 30vw;
    }
  }
  .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .part1,
    .part2 {
      font-family: Arial, Helvetica, sans-serif;
      z-index: 100;
      padding: 50px;
      margin: 20px;
      width: 36vw;
      height: 90vh;
      border: 6px solid darken($color: $colorText1, $amount: 30);
      h2 {
        padding-top: 0;
        width: 100%;
        height: 70px;
        font-size: xx-large;
      }
    }
    .part1 {
      p {
        margin-bottom: 50px;
        line-height: 25px;
      }
      .adresse-mail {
        h3 {
          margin-bottom: 15px;
        }
        p {
          padding-left: 20px;
          font-size: 20px;
          color: $colorHover;
          cursor: pointer;
        }
      }
    }
    .part2 {
      form {
        width: 100%;
        height: 100%;
        .formulaire {
          width: 100%;
          height: 100%;
          margin-top: 30px;
          div {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label {
              margin-bottom: 10px;
            }
            input,
            textarea {
              background: darken($color: $colorText1, $amount: 30);
              border: none;
              height: 100%;
              padding: 10px;
            }
          }
        }
        button {
          width: 100%;
          padding: 12px 25px;
          background: $colorHover;
          border: none;
          color: $colorText1;
          cursor: pointer;
        }
      }
    }
    @media screen and(max-width:1024px) {
      width: 100%;
      align-items: center;
      .part1,
      .part2 {
        width: 90%;
      }
    }
  }
  @media screen and(max-width:1024px) {
    height: 220vh;
  }
}

/***** Footer Page Contact *****/

/*-------------------- Corps de la Page  |  À Propos --------------------*/

/***** Section Page Info *****/

section.section-info {
  height: 100%;
  background: $colorDegrader;
  color: darken($color: $colorText1, $amount: 30);
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 0;
  }
  h2 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 5px;
  }
}
